<h1>USERNAME</h1>
<div class="row">
	<div class="x-4">
		<div class="leaderboard">
			<h3>TOTAL POINTS</h3>
			<span>300</span>
		</div>
	</div>
	<div class="x-4">
		<div class="leaderboard">
			<h3>GRAND PRIX WINS</h3>
			<span>30</span>
		</div>
	</div>
	<div class="x-4">
		<div class="leaderboard">
			<h3>GREEN SHELL %</h3>
			<span>30%</span>
		</div>
	</div>
	<div class="x-4">
		<div class="leaderboard">
			<h3>BALLERNESS FACTOR</h3>
			<span>130.4</span>
		</div>
	</div>
</div>
<!--Begin Individual Grand Prix List-->
<div class="row">
	<div class="x-1">
		<ul class="recent-grand-prix-list">
			<li><div class="grand-prix">
			    <span class="course">Flower Cup</span>
			    <div class="scores">
			    	<span class="p1-score">36</span>
			    	<span class="p2-score">24</span>
		    	</div>
			  </div>
			</li>
			<li><div class="grand-prix">
			    <span class="course">Flower Cup</span>
			    <div class="scores">
			    	<span class="p1-score">36</span>
			    	<span class="p2-score">24</span>
		    	</div>
			  </div>
			</li>
			<li><div class="grand-prix">
			    <span class="course">Flower Cup</span>
			    <div class="scores">
			    	<span class="p1-score">36</span>
			    	<span class="p2-score">24</span>
		    	</div>
			  </div>
			</li>
			<li><div class="grand-prix">
			    <span class="course">Flower Cup</span>
			    <div class="scores">
			    	<span class="p1-score">36</span>
			    	<span class="p2-score">24</span>
		    	</div>
			  </div>
			</li>
		</ul>
	</div>
</div>