// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 100%;
$base-line-height: 1.4;
$base-font-color: #333;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;
$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.2em;

// Links
$base-link-color: #428bca;

//@import "modules/all";